@charset "utf-8";
/*cabecalho config*/
body{
    overflow-x: hidden !important;
    background-color:#FFEBD8;
}
header{
    width: 200px;
    height: 60vh;
}
nav > ul > li{
    list-style-type: none;
    padding: 20px;
    display: inline;
    font-size: 1.2em;
}
nav > ul > li > a{
    text-decoration: none;
    color: #100F0E;
}
nav > ul > li > a:hover{
    text-decoration: underline;
    color: #ED4D1B;
}
nav > ul > li > input{
    color: black;
    background-color: #ED4D1B;
    border: 2px solid rgba(0, 0, 0, 0.438);
    padding:8px;
    position: relative;
    left: 22%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    font-weight: bolder;
    cursor: pointer;
    width: 150px;
}
nav > ul > li > input:hover{
    color: #ED4D1B;
    background-color: #100F0E;
    transition-duration: 1s;
}
nav{
    text-align: center;
    position: relative;
    bottom: 68px;
    left: 30px;
}
div.laranja{
    color: #ED4D1B;
}
p.mover{
    padding-left: 20px;
}
p.logo > img{
    width: 630px;
    position: relative;
    left: 300%;
    bottom: 30px;
}
div#centralizar{
    position: relative;
    bottom: 128%;
    
    font-size: 1em;
    left: 150px;
}
div#centralizar h1{
    font-size: 2.4em;
}
div#centralizar p{
    font-weight: bold;
}
div#centralizar > input{
    color: black;
    background-color: #ED4D1B;
    border: 2px solid rgba(0, 0, 0, 0.438);
    padding:8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
}
div#centralizar > input:hover{
    color: #ED4D1B;
    background-color: #100F0E;
    transition-duration: 1s;
}
div#centralizar img{
    padding: 20px;
    position: relative;
    left: 60%;
    
}
/*PARTE DO CABECALHO INTEIRA CONFIG*/
/*CONFIGURAÇAO CARDS*/
main{
  text-align: center; 
 
}

div.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    float: left;
   background-color: #ED4D1B;
}
div.card2{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    float: left;
   background-color: #FF9A3C;
}
p.conhecer{
    width: 100px;
    padding: 20px;
}
footer{
    width: 140px;
}